html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: #666;
}

/* Parallax scrolling -- apply to all images*/
.landingImg, .parallaxImg {
	position: relative;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.parallaxImg {
	min-height: 75vh;
}

.landingImg {
	height: 100vh;
	width: 100vw;
	/*min-height and width allow whole image to show on mobile devices*/
	min-height: 50vw;
	min-width: 50vw;
	margin: auto;
	background-image: url("img/tj-holowaychuk-61722.jpg");
	z-index: -10;
}

/* Transparent cover in front of landing image*/
.landingImgOverlay {
	position: absolute;
	background-color: rgba(100,100,100,.3);
	height: 100vh;
	width: 100vw;
	z-index: -5;
}

.titleText {
	position: absolute;
	height: 25vh;
	width: 40vw;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	/*border: .5vw solid white;*/
	color: white;
	font-size: 2vw;
	text-align: center;
	z-index: 0;
}

.titleText h1 {
	border: .5vw solid white;
	padding-top: 1vw;
	padding-bottom: 1vw;
}

.imgText { /*The height is a three-fourths of the width - to keep symmetry */
	position: absolute;
	height: 65%;
	width: 75%;
	left: 50%;
	top: 50%;
	border: 1px solid rgba(236,216,198,.75);
	color: #666;
	font-size: 1.5vw;
	text-align: center;
	background: rgba(236,216,198,.75);
	overflow: scroll;

	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.section h2 {
	margin-top: 0;
}

.section {
	text-align: center;
	padding: 2vw 15vw 2vw 15vw;
	/*line-height: ;*/
}

#img2 {
	height: 75vh;
	width: 100vw;
	background-image: url("img/daria-sukhorukova-496.jpg");
}

/*.imgOverlay {
	position: absolute;
	background-color: rgba(100,100,100,.3);
	height: 75vh;
	width: 100vw;
	z-index: -5;
}*/

#img3 {
	height: 75vh;
	width: 100vw;
	background-image: url("img/crackers.jpeg");
}

#img4 {
	height: 75vh;
	width: 100vw;
	background-image: url("img/book.jpg");
}

#img5 {
	height: 75vh;
	width: 100vw;
	background-image: url("img/watches.jpeg");
}

.photoGallerySection {
	color: white;
	background-color: black;
	height: 65%;
	width: 100%;
}

.slideshow-container {
	position: relative;
	margin: auto;
	max-height: 90%;
	max-width: 90%;
	top: 4.5%;
}

.slide {
	display: none;
	overflow: hidden;
	max-height: 100%;
	max-width: 100%;
}

.slide img {
	width: 100%;
	height: 100%;
	/*object-fit: cover;  -- Accounts for aspect ratio, but not desirable here*/
	overflow: hidden;
	max-height: 75%;
	max-width: 75%;
	display: block;
	margin: 0 auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color that is slightly see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/*<!-- width="100vw" height="75vh" -->*/

p {
	font-size: 1.1vw;
}

.material {
	padding: 0 10vh;
	font-size: .75rem;
}

.centerDiv {
	height: 50%;
}

blockquote {
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 18px;
	width: 80%;
	line-height: 1.5;
	margin: auto;
	position: relative;
	color: #383838;
}


.headerText {
	/*font-family: 'Parisienne', cursive;*/
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 50px
	font-weight: 100;
}

/* Media Queries */

@media screen and (max-width: 600px) {
	.material {
		padding: 0 2vh;
	}
}
